/* From Uiverse.io by FWDJc */
.loader {
    width: 3.5em;
    height: 2.5em;
    position: relative;
    animation: beat 1s infinite;
    transform-origin: center;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    top: 0;
    width: 25px;
    /* Scaled down from 50px */
    height: 40px;
    /* Scaled down from 80px */
    border-radius: 2.5em 2.5em 0 0;
    animation: coldblue 1s infinite;
    background-color: rgb(255, 255, 255);
}

.loader::before {
    left: 25px;
    /* Scaled down from 50px */
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.loader::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes coldblue {

    0%,
    100% {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    50% {
        background-color: rgb(236, 72, 153);
        /* Tailwind pink-500 */
        box-shadow: 0 0 20px rgba(236, 72, 153, 0.6);
    }
}